*.opendb
*.suo
*.db
*.dll
*.obj
*.pdb
*.ipdb
*.iobj
*.exe
*.ilk
*.lib
*.log
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.gitattributes
PointCloudCompresser/x64/
x64/Debug/
x64/Release/
.vs/
PointCloudCompresser/bunnynew.ply
*.cpc
